.note a {
        color: yellow;
}

.note a:hover {
        color:orange;
        -moz-transition:color .4s ease-in;
        -o-transition:color .4s ease-in;
        -webkit-transition:color .4s ease-in;
        transition:color .4s ease-in
}

.note em, .note strong {
        color: yellow;
}

.tip a {
        color: greenyellow;
}

.tip a:hover {
        color:pink;
        -moz-transition:color .4s ease-in;
        -o-transition:color .4s ease-in;
        -webkit-transition:color .4s ease-in;
        transition:color .4s ease-in
}

.tip em, .tip strong {
        color: greenyellow;
}

.warning a {
        color: yellow;
}

.warning a:hover {
        color:lightgreen;
        -moz-transition:color .4s ease-in;
        -o-transition:color .4s ease-in;
        -webkit-transition:color .4s ease-in;
        transition:color .4s ease-in
}

.warning em, .warning strong {
        color: yellow;
}

.align-bottom {
        background-color: black;
        border-radius: 7px;
        padding-right: 5px;
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
}

